.contenedor-imagen {
    position: relative;
    background-image: url('../../../assets/fondo2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.opacidad-imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.contenido {
    position: relative;
    padding-top: 3em;
    padding-left: 1em;
    z-index: 1;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;    
}

/* .contenido > .listado {
    flex-grow: 1;
    overflow-y: auto;  
    width: 100%;  
    padding: 1em;
    padding-top: 15em;
} */

.estilos_imagen {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    /* max-width: 190px; */
}

.input {
    width: 40em;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 0.5px solid;
    border-color: rgb(127, 127, 127);
    border-radius: 20px;
    outline: none;
    color: #0d0c22;
    transition: 0.3s ease;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(0, 48, 73, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

#global {
    /* height: 48vh; */
    /* overflow-y: scroll; */
    position: relative;
    scroll-snap-align: center;
    width: 69%;
}

.slider {
    display: flex;
    height: 26em;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.slider2 {
    display: flex;
    justify-content: center;
    height: 26em;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

#global::-webkit-scrollbar {
    -webkit-appearance: none;
}

#global::-webkit-scrollbar:vertical {
    width: 10px;
}

#global::-webkit-scrollbar-button:increment,
#global::-webkit-scrollbar-button {
    display: none;
}

#global::-webkit-scrollbar:horizontal {
    height: 0.4em;
}

#global::-webkit-scrollbar-thumb {
    background-color: rgb(201, 201, 201);
    border-radius: 20px;
    /* border: 2px solid black; */
}

#global::-webkit-scrollbar-track {
    border-radius: 10px;
}