<div class="contenedor-imagen">
    <div class="opacidad-imagen"></div>
    <div class="contenido">
        <div class="hero-content">
            <h1 class="text-white">Bienvenido a VIVOFITNESS</h1>
            <p>Tu salud y bienestar son nuestra prioridad. Únete a nosotros y alcanza tus metas.</p>
            <h3 class="subtitulo">Transforma tu vida con nosotros</h3>
            <ul class="benefits">
                <li>- Entrenadores personales certificados</li>
                <li>- Equipos de última generación</li>
                <li>- Programas personalizados</li>
                <li>- Ambiente amigable y seguro</li>
            </ul>
            <!-- <div class="btn-group">
                <a routerLink="/informacion" class="btn_inicio">Conócenos</a>
                <a routerLink="/auth/registro" class="btn_inicio">Únete Ahora</a>
            </div> -->
        </div>
    </div>
</div>

<div class="features">
    <div class="feature-card">
        <h2>Monitores Expertos</h2>
        <p>Nuestros monitores están certificados y listos para ayudarte en las actividades que realizes.</p>
        <a routerLink="/monitores" class="btn btn-outline">Ver Monitores</a>
    </div>
    <div class="feature-card">
        <h2>Actividades Variadas</h2>
        <p>Desde yoga hasta entrenamiento de alta intensidad, tenemos algo para todos.</p>
        <a routerLink="/actividades" class="btn btn-outline">Ver Actividades</a>
    </div>
    <div class="feature-card">
        <h2>Ejercicios muy variados</h2>
        <p>Te ayudamos a diseñar un plan de ejercicios que se ajuste a tus necesidades.</p>
        <a routerLink="/ejercicios" class="btn btn-outline">Ver Ejercicios</a>
    </div>
    <div class="feature-card">
        <h2>Información sobre nosotros</h2>
        <p>Puedes ver nuestros horarios de apertura, localización y teléfono de contacto.</p>
        <a routerLink="/informacion" class="btn btn-outline">Ver Ejercicios</a>
    </div>
</div>

<div class="call-to-action">
    <div class="cta-content">
        <h2>Únete a Nosotros</h2>
        <p>Empieza hoy tu camino hacia una vida más saludable.</p>
        <a routerLink="/auth/registro" class="btn btn-primary">Hazte Socio</a>
    </div>
</div>
